.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.*.swp
*.pyc
testing/solidbody/output.nc

config_file.pyc

utils.pyc

preprocessing/scp4.1_grid_maxney120.nc

testing/solidbody/preprocessing/add_connectivity.m~

testing/solidbody/solidbody_raw.nc

config_file.pyc

utils.pyc

config_file.pyc

utils.pyc
